@font-face {
	font-family: "Roboto Bold";
	src: url(../Assets/fonts/Roboto-Bold.ttf);
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 6000px;
}

.header {
	background-color: rgb(51, 51, 51);
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	z-index: 5;
}
.left {
	background-color: rgb(51, 51, 51);
	height: 60px;
	display: flex;
	align-items: center;
}
.header > .left img {
	height: 30px;
	margin-left: 20px;
	margin-right: 20px;
}
.left > .dropDown {
	background-color: rgb(34, 34, 34);
	text-decoration: none;
	color: rgb(155, 155, 139);
	height: 60px;
	width: 140px;
	text-align: center;
	line-height: 60px;
	font-family: "Roboto Bold", sans-serif;
}
.right {
	display: flex;
}
.right > i {
	color: #9b9b9b;
	line-height: 60px;
	font-size: 25px;
	padding: 0px 8px;
	border-style: solid;
	border-width: 0px 0px 0px 1px;
	border-color: #9b9b9b;
	cursor: pointer;
}
.right > i:hover {
	background-color: #222222;
}
#cart {
	background-color: #7ac64d;
	color: #ffffff;
}
#cart:hover {
	background-color: #222222;
	color: #9b9b9b;
}
.landing {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url(../Assets/Img/bg.jpg);
	background-position: center;
	background-size: cover;
	height: 800px;
	width: 100%;
}
.top {
	display: flex;
	justify-content: space-between;
	padding: 50px;
	box-sizing: border-box;
	align-items: center;
	width: 80%;
	height: 100px;
	margin-bottom: 200px;
	margin-top: 100px;
	gap: 30px;
}
.top>.left {
	background-color: transparent;
	width: 25%;
}
.center{
	width: 60%;
	/* margin: auto; */
}
.center > ul a {
	color: white;
	text-decoration: none;
	width: 50px;
}
.center>ul a:hover{
	color: #d82a4e;
}

.center > ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	font-family: "Roboto Bold";
}
.center>ul li{
	width: 80px;
	text-align: center;
}
.top .right {
	background-color: #d82a4e;
	width: 20%;
	height: 40px;
	font-size: 20px;
	font-family: "Roboto Bold";
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}
.top > .right a {
	color: white;
	text-decoration: none;
}
.middle > h1 {
	color: #ffffff;
	font-size: 50px;
	text-align: center;
	font-family: "Roboto Bold";
	margin-bottom: 20px;
}
.middle > p {
	color: #ffffff;
	font-family: sans-serif;
	width: 70%;
	text-align: center;
	margin: auto;
	font-size: 15px;
}
.landing > .bottom form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.landing > .bottom {
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.bottom > form input {
	height: 70px;
	width: 30%;
	padding: 10px;
	font-size: 20px;
	box-sizing: border-box;
}
.bottom > form input:active {
	border-width: 0px;
	border: none;
	background-image: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#submit {
	background-color: #d82a4e;
	border-width: 0px;
	height: 70px;
	color: #ffffff;
	font-family: "Roboto Bold";
	cursor: pointer;
}
.catalogue {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.catalogue > .cTop {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 30px;
}
.catalogue > .cTop h1 {
	color: #474747;
	font-size: 50px;
	text-align: center;
	font-family: "Roboto Bold";
	margin-bottom: 20px;
}
.catalogue > .cTop p {
	color: #474747;
	font-family: sans-serif;
	width: 70%;
	text-align: center;
	margin: auto;
	font-size: 20px;
	line-height: 25px;
}
.bottom {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 30px;
	width: 100%;
}
.bottom > .strow,
.bottom > .ndrow {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.strow>.card, .ndrow>.card{
	width: 30%;
}
.card {
	background-color: #edf4f6;
	padding: 10px;
	cursor: pointer;
	border-radius: 5px;
}
.card:hover {
	border-width: 1px;
	box-sizing: border-box;
	border-style: solid;
	border-color: #d82a4e;
}
.card>img {
	width: 100%;
}
.card h2{
	color: #222222;
	font-size: 30px;
	padding: 5px;
	margin-top: 15px;
	font-family: "Roboto Bold";
}
.card p{
	color: #222222;
	font-size: 15px;
	padding: 5px;
	margin-top: 10px;
	font-family: "Roboto Bold";
}
.card h3{
	color: #d82a4e;
	font-size: 20px;
	padding: 5px;
	margin-top: 15px;
	font-family: "Roboto Bold";
}
.searchBar {
	display: flex;
	background-color: #d82a4e;
	width: 90%;
	flex-direction: column;
	align-items: center;
	padding: 30px;
	border-radius: 10px;
	height: 300px;
	justify-content: space-between;
}
.searchBar > h2 {
	color: #ffffff;
	font-size: 60px;
	padding: 5px;
	margin-top: 15px;
	font-family: "Roboto Bold";
}
.sBarBot {
	background-color: #ffffff;
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 5px;
	padding: 20px;
	height: 50%;
}
.sBarBot form {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sBarBot > form input {
	height: 70px;
	width: 30%;
	padding: 10px;
	font-size: 20px;
	box-sizing: border-box;
}
.sBarBot > form #submit {
	border-radius: 10px;
}
.FeaturedCourses{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-top: 50px;
}
.fTop{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}
.fTop h1{
	color: #474747;
	font-size: 50px;
	text-align: center;
	font-family: "Roboto Bold";
	margin-bottom: 20px;
}
.fTop p{
	color: #474747;
	font-family: sans-serif;
	width: 70%;
	text-align: center;
	margin: auto;
	font-size: 20px;
	line-height: 25px;
}
.fTop > ul a {
	color: #474747;
	text-decoration: none;
}
.fTop > ul a:hover {
	color: #9b9b9b;
	text-decoration: none;
}
.fTop > ul {
	display: flex;
	align-items: center;
	gap: 20px;
	font-family: "Roboto Bold";
	font-size: 30px;
	margin-top: 30px;
}
.fBot{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	grid-auto-flow: row;
	column-gap: 30px;
	row-gap: 30px;
	justify-items: center;
	align-items: center;
	width: 100%;
	padding: 20px;
}
/* .fBot>.strow,.fBot>.ndrow{
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 20px;
	width: 100%;
} */
.fbot>.card{
	width: 100%;
}
.card{
	position: relative;
}
.instructor{
	display: flex;
	align-items: center;
	justify-content: left;
}
.instructor>.profilePic{
	height: 40px;
	width: 40px;
	border-radius: 50%;
}
.card> .instructor h3{
	color: #222222;
}
.instructor>h3 span{
	color: #d82a4e;
}
.overhead{
	position: absolute;
	background-color: #d82a4e;
	width: 50%;
	height: 50px;
	font-size: 15px;
	top: 0px;
	left: 0px;
	margin-left: 15px;
	margin-top: 15px;
	text-align: center;
	font-family: 'Roboto Bold';
	color: #ffffff;
	border-radius: 10px;
	padding: 3px;
	line-height: 50px;
}
@media only screen and (max-width: 800px) {
	.top{
		width: 100%;
	}
	.top>.left img{
		width: 100%;
	}
	.top>.left{
		width: 25%;
	}
	.top>.center{
		gap: 5px;
	}
	.top>.center a{
		font-size: 15px;
	}
	.center ul{
		gap: 5px;
	}
	.card h2{
		font-size: 15px;
	}
	.card p{
		font-size: 10px;
	}
	.sBarBot>form #submit{
		font-size: 16px;
	}
}